In [9]:
if 10>11:
    print('Ten is greater than five!')
else:
    print('Ten is lower')
    

print('Today is sunny')

Ten is lower
Today is sunny

In [24]:
def sum(a = 3, b = 4):
    """ 
    definizione di una semplice funzione somma tra due valori,
    sono stati impostati come valori di default a=3 e b=4
    """
    somma = a + b #somma di due numeri
    return somma

In [13]:
a = 2
b = 2

sum(a=a, b=b)

4

In [14]:
sum()

7

In [16]:
sum(a = 'Mike', b = 'Loice')

'MikeLoice'

In [31]:
building1_name = 'Church' #snake syntax
building1Name = 'Church' #camel syntax

In [27]:
building1_name

'Church'

In [30]:
building1Name

'Church'

In [35]:
age = float(30)

In [36]:
type(age)

float

In [42]:
building1_name.__add__(' Sant Ambrogio')

'Church Sant Ambrogio'

In [44]:
numero = int(2)
nome = 'Davide'
condizione = True
risultato = float(4.2)

In [48]:
nuovo_risultato = int(risultato)
nuovo_numero = float(numero)

In [47]:
type(nuovo_risultato)

int

In [50]:
type(nuovo_numero)

float

In [7]:
def even_or_odd(a):
    """ this function evaluate whether the number is even or odd"""
    if a % 2 == 0:
        print(f'{a} is even')
    else:
        print(f'{a} is odd')

In [6]:
even_or_odd(44)

44 is even

In [8]:
def even_or_odd2(a):
    """ this function evaluate whether the number is even or odd"""
    if a % 2 == 0:
        print(f'{a} is even')
    
    print(f'{a} is odd')

In [9]:
even_or_odd2(59)

59 is odd

In [13]:
def even_or_odd3(a):
    """ this function evaluate whether the number is even or odd
    it returns true if the number is even and false when the number is false """
    return a % 2 == 0

In [12]:
even_or_odd3(50)

True

In [14]:
a = 10
b = 5
c = 0
d = -10

In [15]:
a > b and c > d # this is an expression

True

In [17]:
frase = 'Today is a nice day'

In [20]:
frase[-10:]

'a nice day'

In [22]:
frase[4:6]

'y '

In [23]:
frase[2:6:2]

'dy'

In [24]:
frase.upper()

'TODAY IS A NICE DAY'

In [26]:
frase.find('nice')

11

In [30]:
frase.replace('nice', 'wonderful'.upper())

'Today is a WONDERFUL day'

In [32]:
prova = 'ciao'
id(prova)

2951564184944

In [38]:
prova = prova.__add__(' come stai')

In [39]:
id(prova)

2951564074608

# List

In [15]:
my_list = [1,2,3,'python',4,5]
print('List sample', my_list)
print('Second element of my list:', my_list[1])

List sample [1, 2, 3, 'python', 4, 5]
Second element of my list: 2

In [22]:
my_list.insert(2, 3)

In [23]:
my_list

[1, 2, 3, 'python', 4, 5]

In [25]:
my_list.insert(1,44)
my_list

[1, 44, 44, 2, 3, 'python', 4, 5]

In [26]:
my_list.insert(1,42)
my_list

[1, 42, 44, 44, 2, 3, 'python', 4, 5]

**remember that we cannot sum a list and a single value but, if we convert a the value in a list with a single component, we can add it to our list**

# Tuples

In [30]:
my_tuple = ('apple', 'banana', 'cherry', 'arancia')
my_tuple

('apple', 'banana', 'cherry', 'arancia')

In [38]:
my_tuple[2] # tuples are ordered but immutables

'cherry'

# Dictionaries

In [39]:
my_dict = {'name': 'Alice', 'age': 25, 'location': 'New York'}

In [42]:
my_dict['contry'] = 'USA'
my_dict

{'name': 'Alice', 'age': 25, 'location': 'New York', 'contry': 'USA'}

In [45]:
my_dict['age'] = '35'
my_dict

{'name': 'Alice', 'age': '35', 'location': 'New York', 'contry': 'USA'}

# Sets

In [51]:
my_set = {1,2,3,4,5,1,1,1,3,3,4,2,3,4,6,7,8,} #set removes the duplicates
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [55]:
my_set.add(1)

In [54]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Error handling

In [57]:
try:
    x = 3/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [59]:
try:
    x = 10 + 'abc'

except TypeError as e:
    print(f'The following error occured: {e}')

The following error occured: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
try:
    my_list = [1,2,3,4,5]
    print(my_list[10])

except Exception as e:
    print(f'The following error type has happened: {e}')

The following error type has happened: list index out of range